* {
    padding: 0;
    margin: 0;
}

body {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}

header {
    width: 100%;
    background: linear-gradient(0deg, rgba(154, 154, 154, 1) 0%, rgba(195, 195, 195, 1) 0%, rgba(150, 149, 149, 1) 16%, rgba(156, 156, 156, 1) 100%);
}

header>.container {
    width: 900px;
    height: 105px;
    margin-bottom: 20px;
    margin: auto;
}

header .row {
    display: flex;
    align-items: flex-start;
}

header .growing-col {
    flex: 1;
}

header .column-direction {
    flex-direction: column;
}

header .search-row {
    justify-content: flex-end;
    padding-top: 20px;
}

#logo {
    margin: 30px 0 0 10px;
}

#search-bar {
    width: 126px;
    border-radius: 0 8px 0 0;
    border: 0.5px;
    height: 19px;
    padding-right: 3px;
}

#search-button {
    margin-right: 1px;
}

#language {
    text-decoration: none;
    color: white;
    font-size: 12px;
    font-weight: bold;
    margin-left: 17px;
    margin-top: 2px;
}

/* nav start */

header nav {
    padding-top: 13px;
}

header nav>ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header nav>ul>li>a {
    text-decoration: none;
    padding: 20px 0 12px 0;
    display: block;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
}

header nav>ul>li>a:hover, .dropdown-content>ul>li>a:hover, .dropdown:hover>ul>li>a {
    color: rgb(0, 92, 160);
    text-decoration: underline;
}

header nav>ul>.sep {
    padding: 20px 16px 0 16px;
    color: rgb(177, 175, 175);
}

header .dropdown-content>ul {
    list-style: none;
}

header .dropdown-content>ul>li {
    border-bottom: solid 0.2px rgb(177, 175, 175);
}

header .dropdown-content>ul>li>a {
    text-decoration: none;
    padding: 5px;
    display: block;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    width: max-content;
}

header .dropdown:hover>.dropdown-content {
    display: block;
}

header .dropdown {
    position: relative;
}

header .dropdown-content {
    position: absolute;
    background: linear-gradient(180deg, rgba(154, 154, 154, 1) 0%, rgba(195, 195, 195, 1) 0%, rgba(150, 149, 149, 1) 16%, rgba(156, 156, 156, 1) 100%);
    display: none;
    width: fit-content;
}

/* nav end */

main {
    width: 900px;
    margin: auto;
    margin-top: 15px;
}

.row {
    display: flex;
}

main .row {
    justify-content: space-between;
}

main .card-title {
    line-height: 34px;
    font-size: 14px;
    font-weight: bold;
    margin: 0 23px 0 23px;
    border-bottom: rgb(231, 231, 231) solid 2px;
}

main .row-1 {
    flex: 1;
}

main .row-2 {
    flex: 2;
    justify-content: flex-end;
}

main .row-3 {
    flex: 3;
}

main .row-5 {
    flex: 5;
}

main .col-direction {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px 20px 0 0;
}

main .upper {
    width: 291px;
    height: 354px;
    margin-top: 18px;
}

#u-right, #u-mid, #u-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#u-right {
    background-image: url("images/ur.jpg");
}

#u-mid {
    background-image: url("images/um.jpg");
}

#u-left {
    background-image: url("images/ul.jpg");
}

main .text-panel {
    background-color: rgb(121, 121, 121);
    opacity: 0.9;
    margin: 0 5px 5px 35px;
    color: white;
    padding: 15px;
}

main .text-panel>h3 {
    font-size: 14px;
    font-weight: bold;
}

main .text-panel>p {
    margin-top: 5px;
    font-size: 13px;
    line-height: 1;
}

main .lower {
    width: 289px;
    height: 216px;
    margin-top: 18px;
    border: solid 2px rgb(231, 231, 231);
}

main .round-lower-corner {
    border-radius: 0 0 20px 0;
}

main .round-upper-corner {
    border-radius: 0 20px 0 0;
}

main a.more-yellow {
    background: url(images/read_more_yellow.png) no-repeat left center;
    font-size: 13px;
    text-decoration: underline;
    float: left;
    color: #72716d;
}

main a.more-white {
    background: url(images/read_more_white.png) no-repeat left center;
    font-size: 13px;
    text-decoration: underline;
    float: left;
    color: white;
}

main .text-panel a.more-white {
    width: 53px;
}

#l-mid a.more-yellow, #l-right a.more-yellow {
    padding-top: 17px;
    margin-left: 20px;
    width: 90px;
}

#l-left a.more-yellow {
    margin-bottom: 5px;
    width: 40px;
}

main a.more-yellow:hover, main a.more-white:hover {
    color: #005ca0;
    background: url(images/read_more_blue.png) no-repeat left center;
}

#l-left img {
    margin-right: 40px;
    height: 165px;
    margin-top: 5px;
}

#l-right, #l-mid, #l-left {
    display: flex;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(238, 238, 238, 1) 0%, rgba(245, 245, 245, 1) 38%, rgba(255, 255, 255, 1) 100%);
}

#l-mid img, #l-right img {
    padding-top: 20px;
    margin: auto;
}

footer {
    height: 38px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background: linear-gradient(180deg, rgba(154, 154, 154, 1) 0%, rgba(195, 195, 195, 1) 0%, rgba(150, 149, 149, 1) 16%, rgba(156, 156, 156, 1) 100%);
    color: #fff;
    font-size: 14px;
    text-align: center;
}

footer>.footer-content {
    padding-top: 10px;
}

footer>.footer-content>a {
    text-decoration: none;
    color: #fff;
}

footer>.footer-content>a>.icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
}

.contact-container {
    display: flex;
    margin-top: 30px;
}

.contact-container nav ul {
    list-style: none;
    background: linear-gradient(0deg, rgba(205, 205, 205, 1) 0%, rgba(245, 245, 245, 1) 49%);
    padding-right: 15px;
    border-top: solid #d8d8d8 1px;
    width: 110px;
    height: 36px;
}

.contact-container nav ul a {
    text-decoration: none;
    font-size: 13px;
    color: #5c5c5c;
    line-height: 32px;
}

.contact-container .column-dir {
    flex-direction: column;
}

.contact-container .col-2 {
    flex: 2;
}

.contact-container .col-4 {
    flex: 4;
}

.contact-container .col-6 {
    flex: 6;
}

.contact-container .card-mid {
    border-radius: 0 20px 0 0;
    border: solid #CCCCCC 1px;
    background: linear-gradient(0deg, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    width: 347px;
    min-height: 332px;
    padding: 12px 18px;
    color: #72716d;
    font-size: 12px;
}

.contact-container .card-left {
    border-radius: 0 20px 0 0;
    border: solid #CCCCCC 1px;
    background: linear-gradient(0deg, rgba(229, 229, 229, 1) 0%, rgba(255, 255, 255, 1) 100%);
    width: 248px;
    height: 142px;
    padding: 18px 22px 15px;
    color: #72716d;
    font-size: 12px;
}

.contact-container .card-left.top {
    margin-top: 40px;
}

.contact-container .card-left.bottom {
    margin-top: 20px;
}

.contact-container h3 {
    font-size: 15px;
    font-weight: bold;
    color: #72716d;
    border-bottom: 1px solid #cbcbcb;
    margin-bottom: 12px;
    padding-bottom: 4px;
    margin-top: 25px;
}

.contact-container .bread-crumbs, .contact-container .bread-crumbs a {
    font-size: 12px;
    text-decoration: none;
    color: #5c5c5c;
}

.contact-container .card-left a {
    text-decoration: none;
    color: blue;
}

.contact-container .card-mid p {
    padding: 5px 0 5px 0;
}

.contact-container .card-left .text {
    font-size: 13px;
    color: #6d6d6d;
    padding-top: 5px;
    border-top: solid 2px #e9e9e9;
}

.contact-container h2 {
    color: #005ca0;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: 5px;
}

.contact-container .col-1 {
    flex: 1;
}

.contact-container form {
    width: 80%;
    margin-right: 15%;
    margin-top: 10px;
}

.contact-container form textarea {
    float: right;
    color: #6d6d6d;
    width: 257px;
    height: 100px;
    padding: 3px;
    border: 1px solid #808992;
    margin-bottom: 4px;
}

.contact-container form .send-btn {
    margin-right: 222px;
    color: #fff;
    border-radius: 0 7px 0 0;
    width: 44px;
    height: 21px;
    border: solid 1px rgb(219, 219, 219);
    background: linear-gradient(0deg, rgba(2,82,138,1) 33%, rgba(95,186,225,1) 100%);
    font-size: 14px;
}

.contact-container form .send-btn:hover {
    background: linear-gradient(0deg, rgba(245,148,10,1) 33%, rgba(253,233,32,1) 100%);
    cursor: pointer;
}

.contact-container form input {
    height: 17px;
    margin-bottom: 4px;
}