* {
    padding: 0;
    margin: 0;
}

body {
    direction: rtl;
    font-family: 'Arial (Hebrew)', Arial;
}
    
header {
    width: 100%;
    background-color: #909090;
}

header > .container {
    width: 900px;
    height: 105px;
    margin-bottom: 20px;
    margin: auto;
}

main .row {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

main {
    width: 900px;
    margin: auto;
}

main .upper {
    width: 291px;
    height: 354px;
}

main .lower {
    width: 291px;
    height: 216px;
    border: solid 1px rgb(184, 182, 182);
}

main .round-r-corner {
    border-radius: 0 0 20px 0;
}

main .round-l-corner {
    border-radius: 0 20px 0 0;
}

#u-right {
    background-image: url("images/ur.jpg");
}

#u-mid {
    background-image: url("images/um.jpg");
}

#u-left {
    background-image: url("images/ul.jpg");
}

footer {
    height: 38px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    background-color: #909090;
    color: #fff;
    font-size: 14px;
    text-align: center;
}

footer > a {
    text-decoration: none;
    color: #fff;
}

footer > a > .icon {
    width: 18px;
    height: 18px;
    position: relative;
    top: 5px;
}